<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="https://abcex.io/telegram-mini-app-swap/vite.svg">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/assets/js/history.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Mini Apps</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <style id="telegram-custom-styles"></style>
</head>

<body>
    <div id="root">
        <div class="Toastify"></div>
        <div class="px-5 py-4 pb-[76px] min-h-dvh grid bg-bg-primary">
            <div class="grid items-center justify-center ">
                <div class="flex flex-col items-center gap-3">
                    <div class="w-[96px] h-[96px]"><svg xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" width="512" height="512"
                            preserveAspectRatio="xMidYMid meet"
                            style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px); content-visibility: visible;">
                            <defs>
                                <clipPath id="__lottie_element_133">
                                    <rect width="512" height="512" x="0" y="0"></rect>
                                </clipPath>
                                <linearGradient id="__lottie_element_158" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-56.10900115966797" y1="-85.5"
                                    x2="69.30400085449219" y2="105.44400024414062">
                                    <stop offset="0%" stop-color="rgb(79,28,1)"></stop>
                                    <stop offset="50%" stop-color="rgb(132,78,8)"></stop>
                                    <stop offset="100%" stop-color="rgb(185,127,15)"></stop>
                                </linearGradient>
                                <linearGradient id="__lottie_element_159" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-51.10900115966797" y1="-78.5"
                                    x2="63.624000549316406" y2="96.18399810791016">
                                    <stop offset="0%" stop-color="rgb(89,42,0)"></stop>
                                    <stop offset="50%" stop-color="rgb(156,98,13)"></stop>
                                    <stop offset="100%" stop-color="rgb(223,155,26)"></stop>
                                </linearGradient>
                                <radialGradient id="__lottie_element_163" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" cx="2.1440000534057617" cy="-148.16700744628906"
                                    r="137.12536562721036" fx="2.1440000534057617" fy="-148.16700744628906">
                                    <stop offset="0%" stop-color="rgb(255,255,255)"></stop>
                                    <stop offset="50%" stop-color="rgb(255,255,255)"></stop>
                                    <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
                                </radialGradient>
                                <mask id="__lottie_element_165">
                                    <path fill="url(#__lottie_element_164)"
                                        d=" M148.56100463867188,-3.190999984741211 C148.56100463867188,87.30400085449219 78.88200378417969,161.7030029296875 -0.4699999988079071,160.63299560546875 C-99.47000122070312,159.29800415039062 -147.61000061035156,69.697998046875 -149.01600646972656,-2.9519999027252197 C-145.94000244140625,-97.5199966430664 -78.64700317382812,-169.82400512695312 -0.6110000014305115,-170.95599365234375 C78.73999786376953,-172.10800170898438 144.27699279785156,-99.3479995727539 148.56100463867188,-3.190999984741211z">
                                    </path>
                                </mask>
                                <radialGradient id="__lottie_element_164" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" cx="2.1440000534057617" cy="-148.16700744628906"
                                    r="137.12536562721036" fx="2.1440000534057617" fy="-148.16700744628906">
                                    <stop stop-color="rgb(255,255,255)" offset="0%" stop-opacity="1"></stop>
                                    <stop stop-color="rgb(255,255,255)" offset="81%" stop-opacity="0.5"></stop>
                                    <stop stop-color="rgb(255,255,255)" offset="100%" stop-opacity="0"></stop>
                                </radialGradient>
                                <linearGradient id="__lottie_element_169" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-2.7339999675750732" y1="-168.7259979248047"
                                    x2="-3.930999994277954" y2="156.406005859375">
                                    <stop offset="0%" stop-color="rgb(240,240,240)"></stop>
                                    <stop offset="82%" stop-color="rgb(224,224,224)"></stop>
                                    <stop offset="100%" stop-color="rgb(208,208,208)"></stop>
                                </linearGradient>
                                <linearGradient id="__lottie_element_173" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-1.4019999504089355" y1="-185.4010009765625"
                                    x2="2.196000099182129" y2="188.05499267578125">
                                    <stop offset="0%" stop-color="rgb(219,219,219)"></stop>
                                    <stop offset="50%" stop-color="rgb(201,201,201)"></stop>
                                    <stop offset="100%" stop-color="rgb(184,184,184)"></stop>
                                </linearGradient>
                                <linearGradient id="__lottie_element_196" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-56.10900115966797" y1="-85.5"
                                    x2="69.30400085449219" y2="105.44400024414062">
                                    <stop offset="0%" stop-color="rgb(79,28,1)"></stop>
                                    <stop offset="50%" stop-color="rgb(132,78,8)"></stop>
                                    <stop offset="100%" stop-color="rgb(185,127,15)"></stop>
                                </linearGradient>
                                <linearGradient id="__lottie_element_197" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-51.10900115966797" y1="-78.5"
                                    x2="63.624000549316406" y2="96.18399810791016">
                                    <stop offset="0%" stop-color="rgb(89,42,0)"></stop>
                                    <stop offset="50%" stop-color="rgb(156,98,13)"></stop>
                                    <stop offset="100%" stop-color="rgb(223,155,26)"></stop>
                                </linearGradient>
                                <radialGradient id="__lottie_element_201" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" cx="2.1440000534057617" cy="-148.16700744628906"
                                    r="137.12536562721036" fx="2.1440000534057617" fy="-148.16700744628906">
                                    <stop offset="0%" stop-color="rgb(255,255,255)"></stop>
                                    <stop offset="50%" stop-color="rgb(255,255,255)"></stop>
                                    <stop offset="100%" stop-color="rgb(255,255,255)"></stop>
                                </radialGradient>
                                <mask id="__lottie_element_203">
                                    <path fill="url(#__lottie_element_202)"
                                        d=" M148.56100463867188,-3.190999984741211 C148.56100463867188,87.30400085449219 78.88200378417969,161.7030029296875 -0.4699999988079071,160.63299560546875 C-99.47000122070312,159.29800415039062 -147.61000061035156,69.697998046875 -149.01600646972656,-2.9519999027252197 C-145.94000244140625,-97.5199966430664 -78.64700317382812,-169.82400512695312 -0.6110000014305115,-170.95599365234375 C78.73999786376953,-172.10800170898438 144.27699279785156,-99.3479995727539 148.56100463867188,-3.190999984741211z">
                                    </path>
                                </mask>
                                <radialGradient id="__lottie_element_202" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" cx="2.1440000534057617" cy="-148.16700744628906"
                                    r="137.12536562721036" fx="2.1440000534057617" fy="-148.16700744628906">
                                    <stop stop-color="rgb(255,255,255)" offset="0%" stop-opacity="1"></stop>
                                    <stop stop-color="rgb(255,255,255)" offset="81%" stop-opacity="0.5"></stop>
                                    <stop stop-color="rgb(255,255,255)" offset="100%" stop-opacity="0"></stop>
                                </radialGradient>
                                <linearGradient id="__lottie_element_207" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-2.7339999675750732" y1="-168.7259979248047"
                                    x2="-3.930999994277954" y2="156.406005859375">
                                    <stop offset="0%" stop-color="rgb(240,240,240)"></stop>
                                    <stop offset="82%" stop-color="rgb(224,224,224)"></stop>
                                    <stop offset="100%" stop-color="rgb(208,208,208)"></stop>
                                </linearGradient>
                                <linearGradient id="__lottie_element_211" spreadMethod="pad"
                                    gradientUnits="userSpaceOnUse" x1="-1.4019999504089355" y1="-185.4010009765625"
                                    x2="2.196000099182129" y2="188.05499267578125">
                                    <stop offset="0%" stop-color="rgb(219,219,219)"></stop>
                                    <stop offset="50%" stop-color="rgb(201,201,201)"></stop>
                                    <stop offset="100%" stop-color="rgb(184,184,184)"></stop>
                                </linearGradient>
                            </defs>
                            <g clip-path="url(#__lottie_element_133)">
                                <g style="display: block;"
                                    transform="matrix(0.8219576478004456,0,0,0.820184051990509,116.7248764038086,247.91900634765625)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_211)" fill-opacity="1"
                                            d=" M110.78900146484375,-10.392999649047852 C110.78900146484375,88.10299682617188 62.0890007019043,188.73599243164062 2.0179998874664307,188.73599243164062 C-65.73200225830078,188.73599243164062 -110.78900146484375,90.38800048828125 -110.78900146484375,-8.107999801635742 C-110.78900146484375,-106.60399627685547 -58.053001403808594,-188.73599243164062 2.0179998874664307,-188.73599243164062 C62.0890007019043,-188.73599243164062 110.78900146484375,-108.88899993896484 110.78900146484375,-10.392999649047852z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.5176050662994385,0,0,0.820184051990509,117.77973175048828,245.85031127929688)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_207)" fill-opacity="1"
                                            d=" M148.56100463867188,-3.190999984741211 C148.56100463867188,87.30400085449219 78.88200378417969,161.7030029296875 -0.4699999988079071,160.63299560546875 C-99.47000122070312,159.29800415039062 -147.61000061035156,69.697998046875 -149.01600646972656,-2.9519999027252197 C-145.94000244140625,-97.5199966430664 -78.64700317382812,-169.82400512695312 -0.6110000014305115,-170.95599365234375 C78.73999786376953,-172.10800170898438 144.27699279785156,-99.3479995727539 148.56100463867188,-3.190999984741211z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.5176050662994385,0,0,0.820184051990509,117.77973175048828,245.85031127929688)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_201)" mask="url(#__lottie_element_203)"
                                            fill-opacity="1"
                                            d="M0 0 M148.56100463867188,-3.190999984741211 C148.56100463867188,87.30400085449219 78.88200378417969,161.7030029296875 -0.4699999988079071,160.63299560546875 C-99.47000122070312,159.29800415039062 -147.61000061035156,69.697998046875 -149.01600646972656,-2.9519999027252197 C-145.94000244140625,-97.5199966430664 -78.64700317382812,-169.82400512695312 -0.6110000014305115,-170.95599365234375 C78.73999786376953,-172.10800170898438 144.27699279785156,-99.3479995727539 148.56100463867188,-3.190999984741211z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.4145406186580658,0,0,0.45419973134994507,83.2879867553711,259.75042724609375)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_196)" fill-opacity="1"
                                            d=" M-126.89099884033203,-0.003000000026077032 C-126.89099884033203,70.96600341796875 -70.08499908447266,128.5 -0.003000000026077032,128.5 C70.0790023803711,128.5 126.89099884033203,70.96600341796875 126.89099884033203,-0.003000000026077032 C126.89099884033203,-70.97200012207031 70.0790023803711,-128.5 -0.003000000026077032,-128.5 C-70.08499908447266,-128.5 -126.89099884033203,-70.97200012207031 -126.89099884033203,-0.003000000026077032z">
                                        </path>
                                    </g>
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_197)" fill-opacity="1"
                                            d=" M-116.08499908447266,-0.003000000026077032 C-116.08499908447266,64.9219970703125 -64.11699676513672,117.55699920654297 -0.003000000026077032,117.55699920654297 C64.11100006103516,117.55699920654297 116.08499908447266,64.9219970703125 116.08499908447266,-0.003000000026077032 C116.08499908447266,-64.9280014038086 64.11100006103516,-117.55699920654297 -0.003000000026077032,-117.55699920654297 C-64.11699676513672,-117.55699920654297 -116.08499908447266,-64.9280014038086 -116.08499908447266,-0.003000000026077032z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.4145406186580658,0,0,0.45419973134994507,83.2879867553711,260.8200988769531)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="rgb(32,3,2)" fill-opacity="1"
                                            d=" M-80.19599914550781,0 C-80.19599914550781,43.55099868774414 -44.29399871826172,78.8550033569336 -0.003000000026077032,78.8550033569336 C44.28799819946289,78.8550033569336 80.19599914550781,43.55099868774414 80.19599914550781,0 C80.19599914550781,-43.55099868774414 44.28799819946289,-78.8550033569336 -0.003000000026077032,-78.8550033569336 C-44.29399871826172,-78.8550033569336 -80.19599914550781,-43.55099868774414 -80.19599914550781,0z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.414539635181427,0,0,0.4541986286640167,66.14366912841797,229.6903839111328)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="rgb(244,244,244)" fill-opacity="1"
                                            d=" M-34.25199890136719,0.003000000026077032 C-34.25199890136719,19.156999588012695 -18.913999557495117,34.68299865722656 0,34.68299865722656 C18.913999557495117,34.68299865722656 34.25199890136719,19.156999588012695 34.25199890136719,0.003000000026077032 C34.25199890136719,-19.150999069213867 18.913999557495117,-34.68299865722656 0,-34.68299865722656 C-18.913999557495117,-34.68299865722656 -34.25199890136719,-19.150999069213867 -34.25199890136719,0.003000000026077032z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.3597303330898285,0.2257111370563507,-0.2060028612613678,0.39414575695991516,93.01425170898438,298.2392578125)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                            stroke="rgb(229,173,48)" stroke-opacity="1" stroke-width="35"
                                            d=" M34.95500183105469,-34.55099868774414 C24.024999618530273,2.825000047683716 -6.548999786376953,25.673999786376953 -34.95500183105469,34.55099868774414">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.8219576478004456,0,0,0.820184051990509,117.31395721435547,168.3392791748047)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                            stroke="rgb(155,155,155)" stroke-opacity="1" stroke-width="10"
                                            d=" M-111.08200073242188,94.50299835205078 C-111.08200073242188,-9.881999969482422 -61.3489990234375,-94.50299835205078 -0.0010000000474974513,-94.50299835205078 C61.34700012207031,-94.50299835205078 111.08200073242188,-9.881999969482422 111.08200073242188,94.50299835205078">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.8219576478004456,0,0,0.820184051990509,117.31395721435547,323.3595275878906)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                            stroke="rgb(129,129,129)" stroke-opacity="1" stroke-width="10"
                                            d=" M111.08200073242188,-94.50299835205078 C111.08200073242188,9.881999969482422 61.34700012207031,94.50299835205078 -0.0010000000474974513,94.50299835205078 C-61.3489990234375,94.50299835205078 -111.08200073242188,9.881999969482422 -111.08200073242188,-94.50299835205078">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.8219576478004456,0,0,0.820184051990509,342.3523864746094,247.91900634765625)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_173)" fill-opacity="1"
                                            d=" M110.78900146484375,-10.392999649047852 C110.78900146484375,88.10299682617188 62.0890007019043,188.73599243164062 2.0179998874664307,188.73599243164062 C-65.73200225830078,188.73599243164062 -110.78900146484375,90.38800048828125 -110.78900146484375,-8.107999801635742 C-110.78900146484375,-106.60399627685547 -58.053001403808594,-188.73599243164062 2.0179998874664307,-188.73599243164062 C62.0890007019043,-188.73599243164062 110.78900146484375,-108.88899993896484 110.78900146484375,-10.392999649047852z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.5176050662994385,0,0,0.820184051990509,343.4072570800781,245.85031127929688)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_169)" fill-opacity="1"
                                            d=" M148.56100463867188,-3.190999984741211 C148.56100463867188,87.30400085449219 78.88200378417969,161.7030029296875 -0.4699999988079071,160.63299560546875 C-99.47000122070312,159.29800415039062 -147.61000061035156,69.697998046875 -149.01600646972656,-2.9519999027252197 C-145.94000244140625,-97.5199966430664 -78.64700317382812,-169.82400512695312 -0.6110000014305115,-170.95599365234375 C78.73999786376953,-172.10800170898438 144.27699279785156,-99.3479995727539 148.56100463867188,-3.190999984741211z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.5176050662994385,0,0,0.820184051990509,343.4072570800781,245.85031127929688)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_163)" mask="url(#__lottie_element_165)"
                                            fill-opacity="1"
                                            d="M0 0 M148.56100463867188,-3.190999984741211 C148.56100463867188,87.30400085449219 78.88200378417969,161.7030029296875 -0.4699999988079071,160.63299560546875 C-99.47000122070312,159.29800415039062 -147.61000061035156,69.697998046875 -149.01600646972656,-2.9519999027252197 C-145.94000244140625,-97.5199966430664 -78.64700317382812,-169.82400512695312 -0.6110000014305115,-170.95599365234375 C78.73999786376953,-172.10800170898438 144.27699279785156,-99.3479995727539 148.56100463867188,-3.190999984741211z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.4145406186580658,0,0,0.45419973134994507,309.8691711425781,259.75042724609375)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_158)" fill-opacity="1"
                                            d=" M-126.89099884033203,-0.003000000026077032 C-126.89099884033203,70.96600341796875 -70.08499908447266,128.5 -0.003000000026077032,128.5 C70.0790023803711,128.5 126.89099884033203,70.96600341796875 126.89099884033203,-0.003000000026077032 C126.89099884033203,-70.97200012207031 70.0790023803711,-128.5 -0.003000000026077032,-128.5 C-70.08499908447266,-128.5 -126.89099884033203,-70.97200012207031 -126.89099884033203,-0.003000000026077032z">
                                        </path>
                                    </g>
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="url(#__lottie_element_159)" fill-opacity="1"
                                            d=" M-116.08499908447266,-0.003000000026077032 C-116.08499908447266,64.9219970703125 -64.11699676513672,117.55699920654297 -0.003000000026077032,117.55699920654297 C64.11100006103516,117.55699920654297 116.08499908447266,64.9219970703125 116.08499908447266,-0.003000000026077032 C116.08499908447266,-64.9280014038086 64.11100006103516,-117.55699920654297 -0.003000000026077032,-117.55699920654297 C-64.11699676513672,-117.55699920654297 -116.08499908447266,-64.9280014038086 -116.08499908447266,-0.003000000026077032z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.4145406186580658,0,0,0.45419973134994507,309.8691711425781,260.8200988769531)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="rgb(32,3,2)" fill-opacity="1"
                                            d=" M-80.19599914550781,0 C-80.19599914550781,43.55099868774414 -44.29399871826172,78.8550033569336 -0.003000000026077032,78.8550033569336 C44.28799819946289,78.8550033569336 80.19599914550781,43.55099868774414 80.19599914550781,0 C80.19599914550781,-43.55099868774414 44.28799819946289,-78.8550033569336 -0.003000000026077032,-78.8550033569336 C-44.29399871826172,-78.8550033569336 -80.19599914550781,-43.55099868774414 -80.19599914550781,0z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.414539635181427,0,0,0.4541986286640167,292.724853515625,229.6903839111328)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path fill="rgb(244,244,244)" fill-opacity="1"
                                            d=" M-34.25199890136719,0.003000000026077032 C-34.25199890136719,19.156999588012695 -18.913999557495117,34.68299865722656 0,34.68299865722656 C18.913999557495117,34.68299865722656 34.25199890136719,19.156999588012695 34.25199890136719,0.003000000026077032 C34.25199890136719,-19.150999069213867 18.913999557495117,-34.68299865722656 0,-34.68299865722656 C-18.913999557495117,-34.68299865722656 -34.25199890136719,-19.150999069213867 -34.25199890136719,0.003000000026077032z">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.3597303330898285,0.2257111370563507,-0.2060028612613678,0.39414575695991516,319.5954284667969,298.2392578125)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                            stroke="rgb(229,173,48)" stroke-opacity="1" stroke-width="35"
                                            d=" M34.95500183105469,-34.55099868774414 C24.024999618530273,2.825000047683716 -6.548999786376953,25.673999786376953 -34.95500183105469,34.55099868774414">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.8219576478004456,0,0,0.820184051990509,343.8921813964844,168.3392791748047)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                            stroke="rgb(155,155,155)" stroke-opacity="1" stroke-width="10"
                                            d=" M-111.08200073242188,94.50299835205078 C-111.08200073242188,-9.881999969482422 -61.3489990234375,-94.50299835205078 -0.0010000000474974513,-94.50299835205078 C61.34700012207031,-94.50299835205078 111.08200073242188,-9.881999969482422 111.08200073242188,94.50299835205078">
                                        </path>
                                    </g>
                                </g>
                                <g style="display: block;"
                                    transform="matrix(0.8219576478004456,0,0,0.820184051990509,343.8921813964844,323.3595275878906)"
                                    opacity="1">
                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                                        <path stroke-linecap="round" stroke-linejoin="round" fill-opacity="0"
                                            stroke="rgb(129,129,129)" stroke-opacity="1" stroke-width="10"
                                            d=" M111.08200073242188,-94.50299835205078 C111.08200073242188,9.881999969482422 61.34700012207031,94.50299835205078 -0.0010000000474974513,94.50299835205078 C-61.3489990234375,94.50299835205078 -111.08200073242188,9.881999969482422 -111.08200073242188,-94.50299835205078">
                                        </path>
                                    </g>
                                </g>
                            </g>
                        </svg></div>
                    <h1 class="text-[27px] leading-8 text-primary font-bold text-center">Здесь пусто</h1>
                    <p class="text-[17px] leading-6 text-primary font-normal text-secondary text-center max-w-[320px]">
                        Создайте заявку и мы отобразим её здесь</p>
                </div>
                <div class="self-end w-full flex flex-col gap-3"></div>
            </div>
        </div>
        <nav
            class="grid grid-cols-[1fr_1fr] justify-items-center bg-bg-primary fixed bottom-0 w-full border-t-bg-tertiary border-t-[1px]">
            <a class="flex flex-col items-center py-2 gap-1 w-full text-secondary" href="/"><svg width="29" height="28"
                    viewBox="0 0 29 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.06881 10.4919L13.0327 4.90446C13.885 4.23277 15.0874 4.23299 15.9394 4.9051L15.9413 4.90658L22.9332 10.4889L22.9534 10.5046C23.3317 10.7916 23.5578 11.2358 23.5676 11.7101V20.9761C23.5579 22.4326 22.3689 23.6071 20.9116 23.5988L20.9057 23.5988L18.5869 23.5988L18.5869 17.8537L18.5869 17.8495C18.5845 17.2637 18.4298 16.6432 18.0318 16.1467C17.6121 15.623 16.9909 15.3277 16.2734 15.3291L12.9667 15.3107V15.3107L12.9581 15.3107C11.5574 15.3145 10.421 16.4467 10.4133 17.848H10.4133V17.8537V23.5988L8.09216 23.5988L8.08687 23.5988C6.62888 23.6063 5.44149 22.4304 5.43372 20.9735V11.7169C5.43991 11.2425 5.66532 10.7974 6.04523 10.5103C6.05318 10.5043 6.06104 10.4982 6.06881 10.4919ZM12.4808 23.5988L16.5194 23.5988V17.8562C16.5181 17.6063 16.4509 17.4802 16.4185 17.4397C16.405 17.4228 16.3956 17.4172 16.3876 17.4135C16.3792 17.4096 16.3474 17.3963 16.2762 17.3966L16.2662 17.3967L16.2662 17.3966L12.9606 17.3782C12.6967 17.3806 12.4834 17.5939 12.4808 17.8574V23.5988ZM17.2234 3.28461C15.6189 2.01626 13.3525 2.01626 11.7479 3.28461L11.7479 3.28459L11.742 3.28929L4.78561 8.87075C3.90317 9.544 3.3775 10.5867 3.36626 11.7006L3.36621 11.7006V11.711V20.976L3.36622 20.9807C3.37801 23.5797 5.49462 25.6781 8.09466 25.6663H20.9028C23.5008 25.6794 25.6203 23.5845 25.6351 20.9854L25.6351 20.9795V11.7007H25.6352L25.635 11.6841C25.6172 10.5771 25.0939 9.53865 24.2141 8.86585L17.2274 3.28773L17.2274 3.28772L17.2234 3.28461Z">
                    </path>
                </svg>
                <p class="text-[10px] leading-[12px] font-medium">Главный</p>
            </a><a class="flex flex-col items-center py-2 gap-1 w-full text-primary" href="/history"><svg width="29"
                    height="28" viewBox="0 0 29 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.0527 3.23078C11.0527 2.73514 10.6509 2.33334 10.1553 2.33334C9.65965 2.33334 9.25786 2.73514 9.25786 3.23078V4.06109C7.80066 4.17515 6.52491 4.66181 5.57241 5.56738C4.46579 6.61947 3.91064 8.12746 3.91064 9.93258V19.6785C3.91064 21.5044 4.46307 23.0329 5.56606 24.1023C6.66464 25.1675 8.19712 25.6683 9.94588 25.6683H19.0549C20.8035 25.6683 22.3347 25.1781 23.4333 24.129C24.5381 23.074 25.0901 21.5638 25.0901 19.76V9.93353C25.095 8.12978 24.5456 6.62124 23.4409 5.56819C22.4897 4.6615 21.2133 4.17498 19.7532 4.06104V3.23078C19.7532 2.73514 19.3514 2.33334 18.8558 2.33334C18.3602 2.33334 17.9584 2.73514 17.9584 3.23078V4.03474H11.0527V3.23078ZM9.25786 5.86271V6.77473C9.25786 7.27037 9.65965 7.67217 10.1553 7.67217C10.6509 7.67217 11.0527 7.27037 11.0527 6.77473V5.82961H17.9584V6.77473C17.9584 7.27037 18.3602 7.67217 18.8558 7.67217C19.3514 7.67217 19.7532 7.27037 19.7532 6.77473V5.86261C20.8297 5.96978 21.6411 6.3323 22.2024 6.86738C22.8708 7.50449 23.2994 8.49556 23.2952 9.92999L23.2952 9.93258V19.76C23.2952 21.1951 22.8646 22.1903 22.1937 22.831C21.5165 23.4777 20.4788 23.8734 19.0549 23.8734H9.94588C8.53139 23.8734 7.49497 23.4725 6.81546 22.8137C6.14037 22.1592 5.70551 21.1415 5.70551 19.6785V9.93258C5.70551 8.49879 6.13765 7.50657 6.80912 6.86819C7.37275 6.33233 8.18483 5.96998 9.25786 5.86271ZM9.141 12.8174C9.141 12.3218 9.5428 11.92 10.0384 11.92H18.96C19.4557 11.92 19.8575 12.3218 19.8575 12.8174C19.8575 13.313 19.4557 13.7148 18.96 13.7148H10.0384C9.5428 13.7148 9.141 13.313 9.141 12.8174ZM9.141 17.8098C9.141 17.3141 9.5428 16.9123 10.0384 16.9123H15.2089C15.7045 16.9123 16.1063 17.3141 16.1063 17.8098C16.1063 18.3054 15.7045 18.7072 15.2089 18.7072H10.0384C9.5428 18.7072 9.141 18.3054 9.141 17.8098Z">
                    </path>
                </svg>
                <p class="text-[10px] leading-[12px] font-medium">История</p>
            </a>
        </nav>
    </div>

    <script defer=""
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon="{&quot;rayId&quot;:&quot;8fde2fec4b9772c5&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2024.10.5&quot;,&quot;token&quot;:&quot;5652d555b2cd42218b24bb9bdddf5daa&quot;}"
        crossorigin="anonymous"></script>


</body>

</html>