<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="https://abcex.io/telegram-mini-app-swap/vite.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/assets/js/home.js"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <title>Telegram Mini Apps</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <style id="telegram-custom-styles"></style>
</head>

<body>
    <div id="root">
        <div class="Toastify"></div>
        <div class="px-5 py-4 pb-[76px] min-h-dvh grid bg-main bg-cover bg-top bg-no-repeat">
            <div class="flex flex-col items-center gap-5">
                <div class="flex flex-col items-center gap-2">

                    <h2 class="text-[22px] leading-7 text-primary font-bold text-center">Добро пожаловать!</h2>
                    <p class="text-[15px] leading-[20px] font-normal text-center text-secondary">Создайте заявку на
                        покупку или продажу <br> USDT в офисе <%= companyName %> в Москве</p>
                </div>
                <div class="flex justify-between w-full gap-3"><button onclick="window.location.href='/buy'"
                        class="py-[10px] h-full w-full min-w-auto rounded-default bg-bg-tertiary hover:bg-bg-secondary">
                        <div class="flex flex-col items-center w-full"><svg width="29" height="28" viewBox="0 0 29 28"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="text-primary">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M15.5355 3.37066C15.5355 2.79775 15.0726 2.33331 14.5017 2.33331C13.9308 2.33331 13.4679 2.79775 13.4679 3.37066V15.589L11.6654 13.7739C11.2624 13.3681 10.6079 13.367 10.2034 13.7714C9.79904 14.1757 9.79789 14.8326 10.2009 15.2384L13.7695 18.8318C13.9635 19.0272 14.2271 19.137 14.5019 19.137C14.7768 19.1369 15.0404 19.027 15.2343 18.8315L18.7995 15.238C19.2023 14.832 19.2009 14.1752 18.7963 13.771C18.3917 13.3668 17.7371 13.3683 17.3343 13.7743L15.5355 15.5874V3.37066ZM9.30884 5.85544C9.78879 5.54517 9.92721 4.90322 9.61801 4.4216C9.30881 3.93998 8.66908 3.80108 8.18913 4.11136C4.96919 6.19295 2.8335 9.82548 2.8335 13.9595C2.8335 20.4244 8.05635 25.6666 14.5002 25.6666C20.9439 25.6666 26.1668 20.4244 26.1668 13.9595C26.1668 9.82547 24.0311 6.19295 20.8113 4.11136C20.3313 3.80108 19.6916 3.93998 19.3824 4.42159C19.0732 4.9032 19.2116 5.54516 19.6915 5.85544C22.3455 7.57121 24.0993 10.5599 24.0993 13.9595C24.0993 19.2788 19.802 23.592 14.5002 23.592C9.19834 23.592 4.90101 19.2788 4.90101 13.9595C4.90101 10.5599 6.65478 7.57121 9.30884 5.85544Z">
                                </path>
                            </svg><span class="text-[15px] leading-[20px] font-normal text-primary">Купить USDT</span>
                        </div>
                    </button><button onclick="window.location.href='/sell'"
                        class="py-[10px] h-full w-full min-w-auto rounded-default bg-bg-tertiary hover:bg-bg-secondary">
                        <div class="flex flex-col items-center w-full"><svg width="29" height="28" viewBox="0 0 29 28"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="text-primary">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M14.5002 2.33331C8.05635 2.33331 2.8335 7.57559 2.8335 14.0404C2.8335 18.1745 4.96919 21.807 8.18911 23.8887C8.66906 24.1989 9.3088 24.06 9.618 23.5784C9.92721 23.0968 9.7888 22.4549 9.30886 22.1446C6.65478 20.4287 4.90101 17.44 4.90101 14.0404C4.90101 8.72127 9.19834 4.408 14.5002 4.408C19.802 4.408 24.0993 8.72127 24.0993 14.0404C24.0993 17.44 22.3455 20.4287 19.6915 22.1446C19.2116 22.4549 19.0732 23.0968 19.3824 23.5784C19.6916 24.0601 20.3313 24.1989 20.8113 23.8886C24.0311 21.807 26.1668 18.1745 26.1668 14.0404C26.1668 7.57559 20.944 2.33331 14.5002 2.33331ZM15.2343 9.16853C15.0403 8.97306 14.7768 8.86314 14.5019 8.86308C14.2271 8.86301 13.9635 8.9728 13.7695 9.16818L10.2009 12.7616C9.7979 13.1674 9.79903 13.8242 10.2034 14.2286C10.6078 14.633 11.2624 14.6318 11.6654 14.226L13.4679 12.4109V24.6293C13.4679 25.2022 13.9308 25.6666 14.5017 25.6666C15.0726 25.6666 15.5355 25.2022 15.5355 24.6293V12.4126L17.3343 14.2257C17.7372 14.6317 18.3917 14.6331 18.7963 14.2289C19.2009 13.8247 19.2023 13.1679 18.7995 12.7619L15.2343 9.16853Z">
                                </path>
                            </svg><span class="text-[15px] leading-[20px] font-normal text-primary">Продать USDT</span>
                        </div>
                    </button></div>
                <div class="flex flex-col gap-4 w-full">
                    <h3 class="text-[19px] leading-6 text-primary font-semibold">Курс валют</h3>
                    <div class="p-4 flex justify-between w-full bg-bg-secondary rounded-default">
                        <div class="flex flex-col gap-1">
                            <p class="text-[13px] leading-[18px] font-normal text-secondary">Валюта</p>
                            <p class="text-[17px] leading-6 text-primary font-normal text-primary">Tether USDT</p>
                        </div>
                        <div class="flex gap-6">
                            <div class="flex flex-col gap-1 justify-end">
                                <p class="text-[13px] leading-[18px] font-normal text-secondary">Купить</p>
                                <p class="text-[17px] leading-6 text-primary font-normal text-primary" id="course_buy">--- ₽</p>
                            </div>
                            <div class="flex flex-col gap-1 justify-end">
                                <p class="text-[13px] leading-[18px] font-normal text-secondary">Продать</p>
                                <p class="text-[17px] leading-6 text-primary font-normal text-primary" id="course_sell">--- ₽</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full"></div>
                <div class="flex flex-col w-full gap-4">
                    <h3 class="text-[19px] leading-6 text-primary font-semibold">О нас</h3>
                    <ul class="w-full bg-bg-secondary rounded-default divide-y divide-bg-tertiary">
                        <li>
                            <div class="flex py-3 px-4 text-primary gap-4 cursor-pointer" onclick="window.location.href='/address'"><svg width="28" height="28"
                                    viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="28" height="28" rx="14" fill="#5856D6"></rect>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.5054 18.0957C16.5054 18.2337 16.6173 18.3457 16.7554 18.3457H18.7637C18.9018 18.3457 19.0137 18.2337 19.0137 18.0957V12.854C19.0137 12.7159 18.9018 12.604 18.7637 12.604H16.7554C16.6173 12.604 16.5054 12.7159 16.5054 12.854V18.0957ZM12.7387 18.0957C12.7387 18.2337 12.8506 18.3457 12.9887 18.3457H15.0054C15.1435 18.3457 15.2554 18.2337 15.2554 18.0957V12.854C15.2554 12.7159 15.1435 12.604 15.0054 12.604H12.9887C12.8506 12.604 12.7387 12.7159 12.7387 12.854V18.0957ZM8.98041 18.0957C8.98041 18.2337 9.09234 18.3457 9.23041 18.3457H11.2387C11.3768 18.3457 11.4887 18.2337 11.4887 18.0957V12.854C11.4887 12.7159 11.3768 12.604 11.2387 12.604H9.23041C9.09234 12.604 8.98041 12.7159 8.98041 12.854V18.0957ZM13.9971 9.01145C14.3471 9.01145 14.6221 9.28645 14.6221 9.62811V9.63645C14.6221 9.98645 14.3471 10.2614 13.9971 10.2614C13.6554 10.2614 13.3721 9.98645 13.3721 9.63645C13.3721 9.29478 13.6554 9.01145 13.9971 9.01145ZM21.8637 20.4782L21.5471 19.0115C21.4554 18.6282 21.1137 18.3457 20.7221 18.3457H20.5137C20.3756 18.3457 20.2637 18.2337 20.2637 18.0957V12.8532C20.2637 12.7151 20.3756 12.6031 20.5137 12.6031H20.8304C21.3971 12.6031 21.8554 12.1448 21.8554 11.5781V11.0948C21.8554 10.7448 21.6804 10.4198 21.3887 10.2364L14.5554 5.83645C14.2137 5.61145 13.7804 5.61145 13.4387 5.82895L6.61374 10.2364C6.31374 10.4289 6.13874 10.7448 6.13874 11.0948V11.5781C6.13874 12.1448 6.59707 12.6031 7.16374 12.6031H7.48041C7.61848 12.6031 7.73041 12.7151 7.73041 12.8532V18.0957C7.73041 18.2337 7.61848 18.3457 7.48041 18.3457H7.27207C6.88041 18.3457 6.53874 18.6282 6.44707 19.0115L6.13041 20.4782C6.07207 20.7281 6.13041 20.9865 6.29707 21.1865C6.45541 21.3865 6.69707 21.4947 6.94707 21.4947H21.0471C21.3054 21.4947 21.5387 21.3865 21.6971 21.1865C21.8637 20.9865 21.9221 20.7281 21.8637 20.4782Z"
                                        fill="white"></path>
                                </svg><span>Адрес офиса</span></div>
                        </li>
                        <li>
                            <div class="flex py-3 px-4 text-primary gap-4 cursor-pointer" onclick="window.location.href='https://t.me/<%= supportAccount %>'"><svg width="28" height="28"
                                    viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="28" height="28" rx="14" fill="#FF9500"></rect>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.5111 15.1599C17.0109 15.1599 16.6037 14.7526 16.6037 14.2523C16.6037 13.7511 17.0109 13.3439 17.5111 13.3439C18.0122 13.3439 18.4194 13.7511 18.4194 14.2523C18.4194 14.7526 18.0122 15.1599 17.5111 15.1599ZM13.9956 15.1599C13.4954 15.1599 13.0883 14.7526 13.0883 14.2523C13.0883 13.7511 13.4954 13.3439 13.9956 13.3439C14.4967 13.3439 14.9039 13.7511 14.9039 14.2523C14.9039 14.7526 14.4967 15.1599 13.9956 15.1599ZM10.4802 15.1599C9.97997 15.1599 9.57279 14.7526 9.57279 14.2523C9.57279 13.7511 9.97997 13.3439 10.4802 13.3439C10.9813 13.3439 11.3884 13.7511 11.3884 14.2523C11.3884 14.7526 10.9813 15.1599 10.4802 15.1599ZM19.8971 8.10305C16.6467 4.85465 11.3577 4.85465 8.10728 8.10305C5.64401 10.5686 4.97268 14.3497 6.42766 17.4911C6.59527 17.908 6.70496 18.1994 6.70496 18.446C6.70496 18.7374 6.58123 19.0999 6.461 19.451C6.22845 20.1339 5.96431 20.9071 6.53033 21.4724C7.09723 22.0403 7.8721 21.7743 8.55571 21.5382C8.9041 21.418 9.26565 21.2942 9.55173 21.2933C9.81148 21.2933 10.1511 21.4302 10.4898 21.5663C11.6061 22.0833 12.7987 22.3334 13.9834 22.3334C16.157 22.3334 18.3026 21.4899 19.8971 19.896C23.1458 16.645 23.1458 11.355 19.8971 8.10305Z"
                                        fill="white"></path>
                                </svg><span>Чат с поддержкой</span></div>
                        </li>
                        <li>
                            <div class="flex py-3 px-4 text-primary gap-4 cursor-pointer" onclick="window.open('/aml-policy', '_blank')"><svg width="28" height="28"
                                    viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="28" height="28" rx="14" fill="#FF453A"></rect>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M13.0716 13.2396C12.6724 13.2396 12.2724 13.3912 11.9682 13.6954C11.3607 14.3029 11.3607 15.2929 11.969 15.9012C12.5766 16.5079 13.5641 16.5079 14.1732 15.9021L14.1766 15.8996C14.4699 15.6046 14.6316 15.2137 14.6316 14.7979C14.6316 14.3812 14.4699 13.9896 14.1749 13.6946C13.8707 13.3912 13.4707 13.2396 13.0716 13.2396Z"
                                        fill="white"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M18.1798 10.3929C18.7406 10.3988 19.5198 10.4013 20.1806 10.3988C20.5189 10.3979 20.6914 9.98961 20.4564 9.74294C20.0323 9.29794 19.4414 8.67711 18.8481 8.05378C18.2523 7.42794 17.6539 6.79961 17.2189 6.34294C16.9781 6.09044 16.5581 6.26378 16.5581 6.61378V8.75461C16.5581 9.65294 17.2906 10.3929 18.1798 10.3929Z"
                                        fill="white"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.2417 17.9682C16.12 18.0899 15.96 18.1516 15.8 18.1516C15.64 18.1516 15.48 18.0899 15.3575 17.9682L14.5667 17.1774C13.4817 17.8574 12.0292 17.7274 11.085 16.7857C9.99001 15.6891 9.99001 13.9066 11.0842 12.8116C12.18 11.7166 13.9634 11.7174 15.0584 12.8107C15.5892 13.3416 15.8817 14.0474 15.8817 14.7982C15.8817 15.3357 15.7317 15.8499 15.4517 16.2941L16.2417 17.0841C16.4859 17.3282 16.4859 17.7241 16.2417 17.9682ZM20.5417 11.5791H18.0725C16.6017 11.5716 15.3867 10.3533 15.3867 8.86659V6.25159C15.3867 6.04826 15.2259 5.87826 15.0175 5.87826H10.7233C8.72085 5.87826 7.09668 7.52659 7.09668 9.54076V18.2957C7.09668 20.4074 8.80168 22.1207 10.8925 22.1207H17.285C19.2867 22.1207 20.9034 20.4882 20.9034 18.4741V11.9449C20.9034 11.7416 20.7425 11.5791 20.5417 11.5791Z"
                                        fill="white"></path>
                                </svg><span>AML-политикa</span></div>
                        </li>
                        <li>
                            <div class="flex py-3 px-4 text-primary gap-4 cursor-pointer" onclick="window.open('/terms', '_blank')"><svg width="28" height="28"
                                    viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="28" height="28" rx="14" fill="#30D158"></rect>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M11.2584 17.4192H15.6717C16.0167 17.4192 16.2967 17.1392 16.2967 16.7942C16.2967 16.4492 16.0167 16.1692 15.6717 16.1692H11.2584C10.9134 16.1692 10.6334 16.4492 10.6334 16.7942C10.6334 17.1392 10.9134 17.4192 11.2584 17.4192ZM14.0001 13.1017H11.2576C10.9126 13.1017 10.6326 13.3817 10.6326 13.7267C10.6326 14.0717 10.9126 14.3517 11.2576 14.3517H14.0001C14.3451 14.3517 14.6251 14.0717 14.6251 13.7267C14.6251 13.3817 14.3451 13.1017 14.0001 13.1017ZM18.0751 11.5783H20.5442C20.7459 11.5783 20.9067 11.7408 20.9067 11.9442V18.4767C20.9067 20.4917 19.2892 22.125 17.2867 22.125H10.8909C8.79924 22.125 7.09424 20.4108 7.09424 18.2983V9.53917C7.09424 7.52417 8.71924 5.875 10.7217 5.875H15.0176C15.2267 5.875 15.3876 6.04583 15.3876 6.24833V8.865C15.3876 10.3517 16.6026 11.5708 18.0751 11.5783ZM20.1829 10.3977C19.5213 10.4002 18.7421 10.3977 18.1813 10.3919C17.2913 10.3919 16.5588 9.6519 16.5588 8.75274V6.61107C16.5588 6.26107 16.9796 6.0869 17.2196 6.34024C17.5307 6.66626 17.9247 7.0802 18.3415 7.51808C18.5085 7.69355 18.6791 7.87286 18.8496 8.0519C19.1729 8.39107 19.4952 8.72974 19.7902 9.03972C20.0374 9.29945 20.2654 9.53903 20.4588 9.7419C20.6938 9.98774 20.5213 10.3969 20.1829 10.3977Z"
                                        fill="white"></path>
                                </svg><span>Условия использования</span></div>
                        </li>
                        <li>
                            <div class="flex py-3 px-4 text-primary gap-4 cursor-pointer" onclick="window.open('/privacy-policy', '_blank')"><svg width="28" height="28"
                                    viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="28" height="28" rx="14" fill="#0A84FF"></rect>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M20.5446 11.5783H18.0746C16.6029 11.5708 15.3879 10.3517 15.3879 8.865V6.24833C15.3879 6.04583 15.2271 5.875 15.0179 5.875H10.7221C8.71875 5.875 7.09375 7.52417 7.09375 9.53917V18.2983C7.09375 20.4108 8.79958 22.125 10.8912 22.125H17.2863C19.2896 22.125 20.9062 20.4917 20.9062 18.4766V11.9442C20.9062 11.7408 20.7454 11.5783 20.5446 11.5783ZM13.6529 12.3203C13.5453 12.3203 13.4337 12.3427 13.3625 12.3582C13.2765 12.3771 13.1797 12.4025 13.0797 12.4311C12.8789 12.4884 12.6427 12.5651 12.4135 12.6458C12.1846 12.7265 11.9537 12.8143 11.7647 12.8953C11.6709 12.9355 11.5798 12.9772 11.5014 13.0182C11.4459 13.0472 11.3233 13.1119 11.2268 13.2083L11.2257 13.2095L11.2189 13.2162C11.1759 13.259 11.0615 13.3727 10.9964 13.5539C10.9401 13.7106 10.9371 13.8721 10.9362 13.9797C10.9353 14.0744 10.9378 14.2002 10.941 14.3582L10.9439 14.5107C10.9483 14.7492 10.9529 15.0668 10.9529 15.4953C10.9529 16.6452 11.65 17.3997 12.2502 17.8319C12.5541 18.0507 12.854 18.2037 13.0761 18.3017C13.188 18.3512 13.2824 18.3877 13.3508 18.4126C13.3851 18.425 13.4129 18.4345 13.4334 18.4412L13.4585 18.4494L13.4667 18.4519L13.4696 18.4528L13.4713 18.4533C13.5894 18.4892 13.7159 18.4892 13.8341 18.4535L13.7913 18.3124C13.8343 18.4534 13.835 18.4532 13.835 18.4532L13.8362 18.4528L13.8392 18.4519L13.8473 18.4494L13.8724 18.4412C13.8929 18.4345 13.9207 18.425 13.955 18.4126C14.0234 18.3877 14.1178 18.3512 14.2297 18.3017C14.4518 18.2037 14.7517 18.0507 15.0557 17.8319C15.6558 17.3997 16.3529 16.6452 16.3529 15.4953C16.3529 15.067 16.3575 14.7497 16.3619 14.5113L16.3648 14.3595C16.368 14.2015 16.3705 14.0753 16.3697 13.9807C16.3687 13.8728 16.3657 13.7117 16.3097 13.5553C16.2452 13.3752 16.132 13.2616 16.0891 13.2185L16.0823 13.2117L16.079 13.2083C15.9827 13.112 15.8603 13.0472 15.8044 13.018C15.7259 12.977 15.6347 12.9352 15.5408 12.895C15.3517 12.814 15.1208 12.7261 14.892 12.6455C14.6628 12.5647 14.4266 12.4882 14.2259 12.4309C14.126 12.4024 14.0291 12.377 13.9432 12.3582C13.872 12.3426 13.7604 12.3203 13.6529 12.3203ZM18.1798 10.3931C18.7407 10.399 19.5198 10.4015 20.1807 10.399C20.519 10.3981 20.6907 9.98979 20.4565 9.74312C20.0947 9.36358 19.6117 8.85613 19.1093 8.32831L18.8482 8.05395C18.2523 7.42812 17.654 6.79979 17.219 6.34312C16.9782 6.09062 16.5582 6.26395 16.5582 6.61395V8.75479C16.5582 9.65312 17.2907 10.3931 18.1798 10.3931ZM13.6529 17.1891C13.6306 17.1798 13.6067 17.1696 13.5813 17.1584C13.4143 17.0846 13.1955 16.9722 12.9807 16.8175C12.5433 16.5026 12.2029 16.0772 12.2029 15.4953C12.2029 15.0572 12.1982 14.7316 12.1937 14.4877L12.1904 14.3172L12.1903 14.3128C12.1884 14.2143 12.1869 14.1375 12.1863 14.0753C12.2077 14.0657 12.2312 14.0553 12.2569 14.0443C12.4129 13.9775 12.6166 13.8996 12.8288 13.8248C13.0407 13.7502 13.2522 13.6818 13.4231 13.633C13.5089 13.6085 13.5787 13.5906 13.6301 13.5793L13.653 13.5745L13.6759 13.5793C13.7272 13.5905 13.797 13.6084 13.8828 13.6329C14.0535 13.6817 14.265 13.7499 14.4767 13.8245C14.6889 13.8992 14.8925 13.9771 15.0486 14.044C15.0743 14.055 15.098 14.0654 15.1196 14.0752C15.1189 14.1384 15.1174 14.2167 15.1154 14.3177L15.1122 14.4883C15.1077 14.732 15.1029 15.0573 15.1029 15.4953C15.1029 16.0772 14.7625 16.5026 14.3252 16.8175C14.1103 16.9722 13.8915 17.0846 13.7245 17.1584C13.6992 17.1696 13.6752 17.1798 13.6529 17.1891Z"
                                        fill="white"></path>
                                </svg><span>Политика конфиденциальности</span></div>
                        </li>
                        <li>
                            <div class="flex py-3 px-4 text-primary gap-4 cursor-pointer" onclick="window.open('/risk', '_blank')"><svg width="28" height="28"
                                    viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="28" height="28" rx="14" fill="#FF375F"></rect>
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M14 15.6507C14.345 15.6507 14.625 15.3707 14.625 15.0257V12.3991C14.625 12.0541 14.345 11.7741 14 11.7741C13.655 11.7741 13.375 12.0541 13.375 12.3991V15.0257C13.375 15.3707 13.655 15.6507 14 15.6507ZM13.375 17.4241C13.375 17.7691 13.655 18.0449 14 18.0449C14.345 18.0449 14.625 17.7607 14.625 17.4157C14.625 17.0707 14.345 16.7907 14 16.7907C13.655 16.7907 13.375 17.0707 13.375 17.4157V17.4241ZM18.0725 11.5799H20.5417C20.7425 11.5799 20.9034 11.7416 20.9034 11.9449V18.4749C20.9034 20.4891 19.2867 22.1216 17.285 22.1216H10.8925C8.80168 22.1216 7.09668 20.4074 7.09668 18.2957V9.54076C7.09668 7.52659 8.72085 5.87826 10.7233 5.87826H15.0175C15.2259 5.87826 15.3867 6.04909 15.3867 6.25159V8.86659C15.3867 10.3533 16.6017 11.5716 18.0725 11.5799ZM20.1806 10.399C19.5198 10.4015 18.7406 10.399 18.1798 10.3932C17.2906 10.3932 16.5581 9.65317 16.5581 8.75484V6.61401C16.5581 6.26401 16.9781 6.09067 17.219 6.34317C17.654 6.79984 18.2523 7.42817 18.8481 8.05401L19.1093 8.32836C19.6117 8.85618 20.0947 9.36363 20.4565 9.74317C20.6906 9.98984 20.519 10.3982 20.1806 10.399Z"
                                        fill="white"></path>
                                </svg><span>Предупреждения о рисках</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <nav
            class="grid grid-cols-[1fr_1fr] justify-items-center bg-bg-primary fixed bottom-0 w-full border-t-bg-tertiary border-t-[1px]">
            <a class="flex flex-col items-center py-2 gap-1 w-full text-primary" href="/"><svg width="29" height="28"
                    viewBox="0 0 29 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.06881 10.4919L13.0327 4.90446C13.885 4.23277 15.0874 4.23299 15.9394 4.9051L15.9413 4.90658L22.9332 10.4889L22.9534 10.5046C23.3317 10.7916 23.5578 11.2358 23.5676 11.7101V20.9761C23.5579 22.4326 22.3689 23.6071 20.9116 23.5988L20.9057 23.5988L18.5869 23.5988L18.5869 17.8537L18.5869 17.8495C18.5845 17.2637 18.4298 16.6432 18.0318 16.1467C17.6121 15.623 16.9909 15.3277 16.2734 15.3291L12.9667 15.3107V15.3107L12.9581 15.3107C11.5574 15.3145 10.421 16.4467 10.4133 17.848H10.4133V17.8537V23.5988L8.09216 23.5988L8.08687 23.5988C6.62888 23.6063 5.44149 22.4304 5.43372 20.9735V11.7169C5.43991 11.2425 5.66532 10.7974 6.04523 10.5103C6.05318 10.5043 6.06104 10.4982 6.06881 10.4919ZM12.4808 23.5988L16.5194 23.5988V17.8562C16.5181 17.6063 16.4509 17.4802 16.4185 17.4397C16.405 17.4228 16.3956 17.4172 16.3876 17.4135C16.3792 17.4096 16.3474 17.3963 16.2762 17.3966L16.2662 17.3967L16.2662 17.3966L12.9606 17.3782C12.6967 17.3806 12.4834 17.5939 12.4808 17.8574V23.5988ZM17.2234 3.28461C15.6189 2.01626 13.3525 2.01626 11.7479 3.28461L11.7479 3.28459L11.742 3.28929L4.78561 8.87075C3.90317 9.544 3.3775 10.5867 3.36626 11.7006L3.36621 11.7006V11.711V20.976L3.36622 20.9807C3.37801 23.5797 5.49462 25.6781 8.09466 25.6663H20.9028C23.5008 25.6794 25.6203 23.5845 25.6351 20.9854L25.6351 20.9795V11.7007H25.6352L25.635 11.6841C25.6172 10.5771 25.0939 9.53865 24.2141 8.86585L17.2274 3.28773L17.2274 3.28772L17.2234 3.28461Z">
                    </path>
                </svg>
                <p class="text-[10px] leading-[12px] font-medium">Главный</p>
            </a><a class="flex flex-col items-center py-2 gap-1 w-full text-secondary" href="/history"><svg width="29"
                    height="28" viewBox="0 0 29 28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M11.0527 3.23078C11.0527 2.73514 10.6509 2.33334 10.1553 2.33334C9.65965 2.33334 9.25786 2.73514 9.25786 3.23078V4.06109C7.80066 4.17515 6.52491 4.66181 5.57241 5.56738C4.46579 6.61947 3.91064 8.12746 3.91064 9.93258V19.6785C3.91064 21.5044 4.46307 23.0329 5.56606 24.1023C6.66464 25.1675 8.19712 25.6683 9.94588 25.6683H19.0549C20.8035 25.6683 22.3347 25.1781 23.4333 24.129C24.5381 23.074 25.0901 21.5638 25.0901 19.76V9.93353C25.095 8.12978 24.5456 6.62124 23.4409 5.56819C22.4897 4.6615 21.2133 4.17498 19.7532 4.06104V3.23078C19.7532 2.73514 19.3514 2.33334 18.8558 2.33334C18.3602 2.33334 17.9584 2.73514 17.9584 3.23078V4.03474H11.0527V3.23078ZM9.25786 5.86271V6.77473C9.25786 7.27037 9.65965 7.67217 10.1553 7.67217C10.6509 7.67217 11.0527 7.27037 11.0527 6.77473V5.82961H17.9584V6.77473C17.9584 7.27037 18.3602 7.67217 18.8558 7.67217C19.3514 7.67217 19.7532 7.27037 19.7532 6.77473V5.86261C20.8297 5.96978 21.6411 6.3323 22.2024 6.86738C22.8708 7.50449 23.2994 8.49556 23.2952 9.92999L23.2952 9.93258V19.76C23.2952 21.1951 22.8646 22.1903 22.1937 22.831C21.5165 23.4777 20.4788 23.8734 19.0549 23.8734H9.94588C8.53139 23.8734 7.49497 23.4725 6.81546 22.8137C6.14037 22.1592 5.70551 21.1415 5.70551 19.6785V9.93258C5.70551 8.49879 6.13765 7.50657 6.80912 6.86819C7.37275 6.33233 8.18483 5.96998 9.25786 5.86271ZM9.141 12.8174C9.141 12.3218 9.5428 11.92 10.0384 11.92H18.96C19.4557 11.92 19.8575 12.3218 19.8575 12.8174C19.8575 13.313 19.4557 13.7148 18.96 13.7148H10.0384C9.5428 13.7148 9.141 13.313 9.141 12.8174ZM9.141 17.8098C9.141 17.3141 9.5428 16.9123 10.0384 16.9123H15.2089C15.7045 16.9123 16.1063 17.3141 16.1063 17.8098C16.1063 18.3054 15.7045 18.7072 15.2089 18.7072H10.0384C9.5428 18.7072 9.141 18.3054 9.141 17.8098Z">
                    </path>
                </svg>
                <p class="text-[10px] leading-[12px] font-medium">История</p>
            </a>
        </nav>
    </div>

    <script defer=""
        src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015"
        integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ=="
        data-cf-beacon="{&quot;rayId&quot;:&quot;8fde233b393372c5&quot;,&quot;serverTiming&quot;:{&quot;name&quot;:{&quot;cfExtPri&quot;:true,&quot;cfL4&quot;:true,&quot;cfSpeedBrain&quot;:true,&quot;cfCacheStatus&quot;:true}},&quot;version&quot;:&quot;2024.10.5&quot;,&quot;token&quot;:&quot;5652d555b2cd42218b24bb9bdddf5daa&quot;}"
        crossorigin="anonymous"></script>




</body>

</html>